@tailwind base;
@tailwind components;
@tailwind utilities;

//this css is for page scroll
/* #projects{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

#projects{
    height: 100vh;
    scroll-snap-align: center;
}

.portfolio{
    postion: relative;

}

.progress{
    postion: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;    
    font-size: 36px;
} */

.progressBar{
    height: 10px;
    background-color: white;

}